@media (max-width: 540px) {
  .content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 550px 1900px;
        grid-template-rows: 550px 1900px;
    width: 100%;
  }
  .content-container .hero-image-container .header-container .header-spacer-1 {
    width: 0;
  }
  .content-container .hero-image-container .header-container .header-right .header-more {
    width: 0;
    display: none;
  }
  .content-container .hero-image-container .header-container .header-spacer-2 {
    width: 0;
  }
  .content-container .hero-image-container .hero-space-container .hero-header {
    font-size: 2.2rem;
  }
  .content-container .hero-image-container .hero-space-container .hero-button-wrapper {
    width: 0;
    display: none;
  }
  .content-container .bottom-container .main-content-container .middle-header {
    font-size: 1.8rem;
  }
  .content-container .bottom-container .main-content-container .values-container {
    height: 850px;
  }
  .content-container .bottom-container .main-content-container .window-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container .bottom-container .main-content-container .window-section-container .window-left-spacer {
    width: 0;
  }
  .content-container .bottom-container .main-content-container .window-section-container .window-left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container .bottom-container .main-content-container .window-section-container .window-left .window-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container .bottom-container .main-content-container .window-section-container .window-left .window-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .content-container .bottom-container .main-content-container .window-section-container .window-right {
    display: none;
  }
  .content-container .bottom-container .main-content-container .blog-container {
    padding-bottom: 100px;
  }
  .content-container .bottom-container .main-content-container .blog-container .blog-links-container {
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container .bottom-container .main-content-container .contact-window-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container .bottom-container .main-content-container .contact-window-container .contact-window-spacer {
    width: 0;
  }
  .content-container-blog .header-container-other-pages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container-blog .header-container-other-pages .header-left {
    width: 30%;
  }
  .content-container-blog .header-container-other-pages .header-left .logo-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container-blog .header-container-other-pages .header-spacer-1 {
    width: 0;
  }
  .content-container-blog .header-container-other-pages .header-right {
    width: 70%;
  }
  .content-container-blog .header-container-other-pages .header-right .header-more {
    width: 0;
    display: none;
  }
  .content-container-blog .header-container-other-pages .header-spacer-2 {
    width: 0;
  }
  .content-container-contact .header-container-other-pages .header-spacer-1 {
    width: 0;
  }
  .content-container-contact .header-container-other-pages .header-left {
    width: 30%;
  }
  .content-container-contact .header-container-other-pages .header-right {
    width: 70%;
  }
  .content-container-contact .header-container-other-pages .header-right .header-more {
    width: 0;
    display: none;
  }
  .content-container-contact .header-container-other-pages .header-spacer-2 {
    width: 0;
  }
  .contact-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 15px;
    padding-top: 10px;
  }
  .contact-form-container .contact-left {
    width: 100%;
  }
  .contact-form-container .contact-right .contact-type-container {
    padding-bottom: 30px;
  }
}

@media (max-width: 840px) {
  .content-container-blog-post .header-container-other-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-container-blog-post .header-container-other-pages .header-left {
    width: 30%;
  }
  .content-container-blog-post .header-container-other-pages .header-spacer-1 {
    width: 0;
  }
  .content-container-blog-post .header-container-other-pages .header-right {
    width: 70%;
  }
  .content-container-blog-post .header-container-other-pages .header-right .header-more {
    width: 0;
    display: none;
  }
  .content-container-blog-post .header-container-other-pages .heder-spacer-2 {
    width: 0;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content {
    height: auto;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content .float-main-content-wrapper {
    height: auto;
    width: 90%;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content .float-main-content-wrapper .float-blog-description {
    height: auto;
    padding-bottom: 15px;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content .float-main-content-wrapper .paragraph-section {
    height: auto;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content .float-main-content-wrapper .forms-section {
    height: auto;
  }
  .content-container-blog-post .hero-container-blog-post .float-main-content-container .float-main-content .float-main-content-wrapper .misc-stuff-section {
    height: auto;
  }
  .content-container-blog-post .hero-container-blog-post .lower-main-content-blog-post {
    height: 700px;
  }
  .content-container-blog-post .hero-container-blog-post .lower-main-content-blog-post .lower-content-wrapper-blog-post {
    height: 100%;
  }
  .content-container-blog-post .hero-container-blog-post .lower-main-content-blog-post .lower-content-wrapper-blog-post .other-blog-links-container {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .content-container-blog-post .hero-container-blog-post .lower-main-content-blog-post .lower-content-wrapper-blog-post .other-blog-links-container .other-blog-wrapper {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=media-queries.css.map */